.Top{
    width: 255px;
    height: 144px;
    display:flex;
    align-items:center;
  padding-left: 30px;

}
.Menu ul li a{
 margin-top: 20px;
 height: 34px;
}

.admin{
    width: 255px;
 font-family: 'Inter', sans-serif;
    align-items:center;
  padding-left: 30px;
  font-weight: 600;
  color: #808191;
  font-size: 14px;

}
.icon{
    padding-top: 7px;
}

svg{
    padding-top: 5px;
}

ul li a {
    text-decoration: none;

}
.Menu ul li a{
    display: flex;
    font-weight: 600;
    color: #808191;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    padding: 9px;

}
ul {
    list-style: none;
}
.Menu svg{
    width: 19.941px;
    height: 20.997px;
    margin-right: 8px;
}
.Menu{
    height: 670.387px;
    width: 215px;
}

.Menu ul li a:not(.is_active):hover{
    background-color: #6C5DD3;
color: white;
border-radius: 10px ;

}
.Content{
    font-family: 'Poppins', sans-serif;
    transition-duration: 2;
    border-left: 1px solid  #808191;
width: 70%;
}
.leftt{
    width: 30%;
}
.all{
    display: flex;
    
}





.xinchao{
    padding-top: 53px;
}
.xinchao h1{
   font-size: 49px;
margin-top: 12px;


}
.xinchao h3{
    font-size: 23px;
 margin:0%;
 }
 
.khung{
    width: 965px;
    height: 288px;
    background-color: #6C5DD3;
    border-radius: 21px;
    margin-left: 7%;
}
.cot2{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: flex;
    gap: 12px;
    margin-left: 11%;
   
}

.cot4{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 0fr));
    display: flex;
    gap: 24px;
    margin-left: 7%;
    margin-top: 35px;
    padding-top: 22px;
    height: 90px;
   
}

.st{
    width: 130px;
    height: 56px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 18px;
    border: white;
  
}
.cot1{
    padding: 45px 0px;
    color: white;

}

.cot1 h4{
    font-weight: 100;
    line-height: 24px;
}
.cot2 .st:hover{
    color: #6C5DD3;
}
.right2{
    width: 426px;
    height: 200px;
    margin-top: 3%;
}
.right3{
    width: 426px;
    height: 200px;
    margin: 0px 30px;
    
}
#id1{
    width: 29px;
    height: 29px;
    padding: 0;
}
#id2{
    border-radius: 5px;
    border: white;
    font-size: 17px;
    outline: none;
}
#id3{  
    width: 29px;
    height: 29px;

}
.cot21{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,0, 1fr));
    display: flex;
    gap: 14px;
padding-left: 31%;  
  
}

.cot22{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,0, 1fr));
    display: flex;
    gap: 21px;
    margin: auto;
    padding-top: 13px;
}
.list{
    width: 1032px;
    background-color: white;
    border-radius: 22px;
    box-shadow: #c8c8c9 1px 1px 9px 1px;
margin-left: 4%;
margin-top: 33px;
height: auto;

}
#idf1{
    display: flex;
    gap: 13px;
width: 241px;
height: 55px;
}

.adc{
    width: 241px;
    height: 56px;
    background-color: #e4e6f0;
    border-radius: 22px ;
    margin: auto;
    font-weight: 300;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    border: #e4e6f0;
    margin-bottom: 6px;
    
}
.adc:hover{
    border:2px solid #6C5DD3 ;
}
.adc1{
    width: 241px;
    height: 56px;
    background-color: #e4e6f0;
    border-radius: 22px ;
    margin: auto;
    font-weight: 300;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    border: #e4e6f0;
    margin-bottom: 6px;
    
}
.adc1:hover{
    border:2px solid #6C5DD3 ;
}
.add{
    width: 241px;
    height: 193px;
    background-color: black;
    border-radius: 22px ;
    margin: auto;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
text-align: center;
display: none;
color: white;

}

.add a:hover{
    color: #6C5DD3;
    border-radius: 22px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

svg{
    width: 29px;
    height: 29px;
}

.category{
      width: 1000px;
      margin: 20px ;
    
      
    }


table, th, td{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
table{
    border-collapse:collapse;
    width:100%;
}
th, td{
    text-align:left;
    padding:10px;
}

td{
    font-size: 13px;
}
td a{
    color: black;
    padding: px;
}
