header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--header-width);
    max-width: 100%;
    box-shadow:  0 0 3px rgba(0, 0, 0, 0.3);
}

nav {
    margin-left: 255px;
}

.wrapper {
    padding: 30px 20px;
}

.customer-title {
    font-size: 2.4rem;
}

.form-control {
    background-color: var(--white);
    padding: 20px 30px;
}

.custom-heading {
    font-size: 2.2rem;
    margin: 20px 0;
}

.form-body {
    display: flex;
    gap:20px;
}

.form-label {
    margin-bottom: 20px;
}

.form-label > input {
    border: 1px solid #d7dae3;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    padding: 24px 16px;
    border-radius: 8px;
}

.form-label > input:focus {
    border-color: var(--primary);
}

.handel-add-customer {
    border: none;
    background-color: var(--primary);
    font-size: 1.6rem;
    padding: 12px 24px;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
}

/* Information */

.wrapper-table {
    margin-top: 20px;
    background-color: var(--white);
    padding: 20px 30px;
}

.table-inform {
    width: 100%;
    border-collapse: collapse;
}

.table-body-title {
    background-color: #f8f8f8;
    border-radius: 4px;
}

.table-body-title > td {
    padding: 10px 24px;
}

.table-body-inform > td {
    padding: 14px 24px;
    max-width: 125px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}  

.table-body-inform {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.icon {
    padding: 0 6px;
    cursor: pointer;
}

.icon > span {
    display: flex;
}
