.wrapper-update-user {
    display: flex;
    width: var(--header-width);
    margin: 0 auto;
    margin-top: 24px;
}

.user-block {
    width: 300px;
    margin-right: 12px;
}

.user-block-item {
    display: flex;
}

.user-block-item > a {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.user-block-item > a:hover {
    color: var(--primary);
    font-weight: 600;
}

#form-update {
    flex: 1;
}

.form-update {
    background-color: #fff;
    padding: 12px 24px;
    min-width: 600px;
}

.form-update > h2 {
    font-weight: 500;
}

.form-update-label > label {
    display: block;
    margin-bottom: 6px;
    margin-top: 12px;
}

.form-update-label > input {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 12px 12px;
    outline: none;
    font-size: 1.6rem;
}

.address-block {
    background-color: #fff;
    max-height: 200px;
    padding: 12px 24px;
    margin-left: 12px;
}

.address-block > h2 {
    font-weight: 500;
}

.address-block > p {
    font-size: 1.4rem;
    opacity: 0.6;
}

.handel-put {
    border: none;
    background-color: var(--primary);
    font-size: 1.6rem;
    padding: 12px 24px;
    color: #fff;
    margin-top: 12px;
    border-radius: 4px;
}

.line {
    margin-top: 20px;
    border: 1px solid #e0e0e0;
}

