.wrapper-update-user {
    display: flex;
    width: var(--header-width);
    margin: 0 auto;
    margin-top: 24px;
    max-width: 100%;
}

.wrapper-account {
    display: flex;
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    border-radius: 4px;
    min-height: 330px;
}

.user-block {
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 10px 24px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background: linear-gradient(#00B4DB, #0083B0);
}

.user-block img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 50%;
}

.user-block h3 {
    font-weight: 500;
    font-size: 2.6rem;
    margin: 20px 0;
}

.user-block p {
    font-size: 1.4rem;
}

.info-block {
    padding: 10px 20px;
    width:700px;
}

.info-block h2 {
    margin-bottom: 10px;
}

.information {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.information h4 {
    font-size: 1.8rem;
    font-weight: 500;
}

.information p {
    font-size: 1.6rem;
}

.tab-network {
    display: flex;
    margin-top: 20px;
}

.icon-network {
    margin-right: 12px;
    font-size: 2rem;
    cursor: pointer;
}

.icon-network:hover {
    color: #0083B0;
}
.sua input{
    margin-left: 100px;
    margin-top: 50px;
    width: 100px;
    padding: 10px;
    background-color: aqua;
    font-weight: bold;
    border: none;
    border-radius: 20px;

}
.information input{
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 20px;

}


