.hanghoa{
    height: 400px;
}
.quanly{
    margin: 50px 0px 100px 0px;

}

.box-quanly{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 40px;
   
   
}
.box-quanly{
  width: 90%;
margin-left: 5%;
 
 
    
 }

.ma_hanghoa{
    margin-top: 30px;
}
.dacbiet{
    padding-top: -10px ;
}

/* .item input{
    margin: 10px 0px;
    height: 30px;
    outline: none;
    border: 1px solid rgba(192, 176, 176, 0.579);

} */
/* .item input{
    width: 100%;
} */
label{
    font-size: 20px;
    font-family: 'Inter Tight', sans-serif;
}
.box-quanly input{
    height: 50px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(113, 155, 29);

}
.box-quanly textarea{
    width: 70%;
    height: 46px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(73, 107, 4);
margin-bottom: 10px;
}


.button-form input{
    padding: 10px;
    border: 1px solid yellowgreen ;
    border-radius: 10px;
    margin: 10px 20px 10px 0px;
    transition: 0.5s;
    margin-bottom: 30px;
    margin-top: 2px;
}
.button-form input:hover{
    background-color: yellowgreen;
    cursor: pointer;
    transition: 0.5s;
}
select{
    width: 110px;
    margin-top: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgb(73, 107, 4);
    outline: none;
    text-align: center;

}
.button-form{
    margin-left: 5%;
margin-top: 10%;

}